<form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="task">Task:</label>
  <input type="text" name="task[title]" id="title">

  <label for="details">Details:</label>
  <input type="text" name="task[details]" id="details">

  <label for="completed"></label>
  <input type="boolean" name="task[completed]" id="completed">

  <input type="submit">
</form>
